/* stylesheet.css      
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.pixzzle-ui-panel {
  border-radius: 29px;
  padding: 18px;
  padding-bottom: 12px;
  margin-bottom: 4em;
  spacing: 20px;
}

.pixzzle-ui-close-button {
  border-radius: 99px;
  color: #fff;
  background-color: #ff842e;
}

.pixzzle-ui-close-button StIcon {
  icon-size: 2em;
}

.pixzzle-ui-close-button.left {
  margin-left: 8px;
}

.pixzzle-ui-close-button.right {
  margin-right: 8px;
}

.pixzzle-ui-type-button {
  padding: 12px 18px !important;
  border-radius: 11px;
  color: #ededed !important;
}

.pixzzle-ui-type-button:hover,
.pixzzle-ui-type-button:focus,
.pixzzle-ui-type-button:checked {
  background-color: rgba(237, 237, 237, 0.15) !important;
}

.pixzzle-ui-type-button:checked:hover {
  background-color: rgba(237, 237, 237, 0.5) !important;
}

.pixzzle-ui-type-button:active {
  background-color: rgba(237, 237, 237, 0.3) !important;
}

.pixzzle-ui-type-button:insensitive {
  color: rgba(238, 238, 236, 0.2) !important;
}

.pixzzle-ui-capture-button {
  width: 36px;
  height: 36px;
  border-radius: 99px;
  border: 4px #eeeeec;
  padding: 4px;
}

.pixzzle-ui-capture-button .pixzzle-ui-capture-button-circle {
  background-color: #eeeeec;
  transition-duration: 200ms;
  border-radius: 99px;
}

.pixzzle-ui-capture-button .pixzzle-ui-capture-button-circle:hover,
.pixzzle-ui-capture-button .pixzzle-ui-capture-button-circle:focus {
  background-color: #0a0a0a;
}

.pixzzle-ui-capture-button:hover .pixzzle-ui-capture-button-circle,
.pixzzle-ui-capture-button:focus .pixzzle-ui-capture-button-circle {
  background-color: white;
}

.pixzzle-ui-capture-button:active .pixzzle-ui-capture-button-circle {
  background-color: white;
}

.pixzzle-ui-expand-button {
  border-radius: 10px;
  padding: 6px 8px !important;
  color: #ededed !important;
  background-color: transparent;
}

.pixzzle-ui-ocr-action-button {
  border-radius: 10px;
  padding: 6px 8px !important;
  color: #ededed !important;
}

.pixzzle-ui-ocr-action-button StIcon {
  icon-size: 2em;
}

.pixzzle-ui-expand-button StIcon {
  icon-size: 1.8em;
}

.pixzzle-ui-ocr-action-button:hover,
.pixzzle-ui-ocr-action-button:focus,
.pixzzle-ui-ocr-action-button:checked,
.pixzzle-ui-expand-button:hover,
.pixzzle-ui-expand-button:focus
{
  background-color: rgba(237, 237, 237, 0.15);
}

.pixzzle-ui-ocr-action-button:checked:hover {
  background-color: rgba(237, 237, 237, 0.5) !important;
}

.pixzzle-ui-ocr-action-button:active {
  background-color: rgba(237, 237, 237, 0.3) !important;
}

.pixzzle-ui-area-indicator-shade {
  background-color: rgba(0, 0, 0, 0.3);
}

.pixzzle-ui-area-selector .pixzzle-ui-area-indicator-shade,
.pixzzle-ui-panel,
#UIMainViewer {
  background-color: rgba(0, 0, 0, 0.5);
}

.pixzzle-ui-area-selector .pixzzle-ui-area-indicator-selection {
  border: 2px white;
}

.pixzzle-ui-area-selector-handle {
  border-radius: 99px;
  background-color: white;
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.2);
  width: 24px;
  height: 24px;
}

.pixzzle-ui-screen-selector {
  transition-duration: 200ms;
  background-color: rgba(0, 0, 0, 0.5);
}

.pixzzle-ui-screen-selector:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.pixzzle-ui-screen-selector:active {
  background-color: rgba(0, 0, 0, 0.7);
}

.pixzzle-ui-screen-selector:checked {
  background-color: transparent;
  border: 2px white;
}

.pixzzle-ui-tooltip {
  color: #eeeeec;
  background-color: #2e3436;
  border-radius: 99px;
  padding: 6px 12px;
  font-weight: bold;
  text-align: center;
  -y-offset: 24px;
}

#UIMainViewer {
  border-radius: 10px;
  border-width: 2em;
}

#UIMainViewerLayout {
  spacing: 1.5em;
  padding-bottom: 2em;
}

#UISplitViewLayout {
  spacing: 1em;
}

.pixzzle-ui-base-container,
#UIThumbnailViewer,
#UIFolderViewer {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#UIThumbnailViewer,
#UIFolderViewer,
#UISwapView {
  min-width: 10em;
  max-width: 10em;
}

.pixzzle-ui-screenshot-button {
  padding: 8px 8px 8px 8px;
  border-radius: 6px 0 0 6px;
  color: #fff;
  background-color: #507ab9;
  spacing: 0.5em;
}

.pixzzle-ui-screenshot-button StIcon {
  icon-size: 1em;
}

.pixzzle-ui-screenshot-button:hover {
  background-color: #5280c4;
}

#UIThumbnailControls {
  spacing: 0.2em;
}

.pixzzle-ui-swap-button {
  padding: 8px 8px 8px 8px;
  border-radius: 0 6px 6px 0;
  color: #fff;
  background-color: #507ab9;
  spacing: 0.5em;
}

.pixzzle-ui-swap-button StIcon {
  icon-size: 1em;
}

.pixzzle-ui-melt-button {
  border: 1px solid #507ab9;
  background-color: #fff;
  border-radius: 299px;
}

.pixzzle-ui-melt-button StIcon {
  icon-size: 3.5em;
}

.pixzzle-ui-thumbnail-scrollview {
  border-top: 0.6em;
  border-bottom: 0.6em;
}

.pixzzle-ui-thumbnail-close-button StIcon {
  icon-size: 1.2em;
}

.pixzzle-ui-thumbnail-close-button {
  border-radius: 99px;
  color: #fff;
  background-color: #ff842e;
}

.pixzzle-ui-snap-indicator {
  border: 1px solid #44c4c7;
  background-color: rgba(72, 224, 227, 0.4);
}

#UIButtonBox {
  spacing: 1em;
}

.pixzzle-ui-settings-button {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 99px;
}

.pixzzle-ui-settings-button StIcon {
  icon-size: 32px;
}

.pixzzle-ui-ocr-indicator {
  color: red;
  border: 1px solid red;
}

.pixzzle-ui-ocrtip {
  color: #eeeeec;
  background-color: #2e3436;
  border-radius: 4px;
  padding: 6px 12px;
  outline: none;
  border: none;
}

.pixzzle-ui-ocrtip-error {
  color: white;
  background-color: red;
  border-radius: 4px;
  padding: 6px 12px;
  outline: none;
  border: none;
}

.pixzzle-ui-folder {
  color: white;
}

.pixzzle-ui-folder-label {
  text-align: center;
  font-size: 1.4em;
  font-weight: 800;
  padding: 0 10px 0 10px;
}

#UIDialog {
  background-color: #fff;
  padding: 0.4em 0.8em 0.8em 0.8em;
  border-radius: 10px;
}
.pixzzle-ui-dialog-container {
  background-color: #00000000;
}

.pixzzle-ui-dialog-header-text {
  font-size: 1.7em;
  font-weight: 800;
  color: #000;
}

.pixzzle-ui-dialog-exit-button {
  border-radius: 99px;
  color: #959595;
}

.pixzzle-ui-dialog-exit-button StIcon {
  icon-size: 1.2em;
}

.pixzzle-ui-dialog-exit-button:hover {
  border: 1px solid #959595;
}

.pixzzle-ui-dialog-separator {
  margin-top: 1em;
  margin-bottom: 0.7em;
  background-color: #959595;
}

.pixzzle-ui-dialog-accept-button {
  background-color: #2167e8;
  padding: 4px 14px;
  color: #fff;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 14px;
}

.pixzzle-ui-dialog-accept-button:hover,
.pixzzle-ui-dialog-accept-button.focus {
  background-color: #1b55bf;
}

.pixzzle-ui-dialog-cancel-button {
  background-color: #ff0000;
  padding: 4px 14px;
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
}

.pixzzle-ui-dialog-cancel-button:hover,
.pixzzle-ui-dialog-cancel-button.focus {
  background-color: #cf0404;
}

#dockContainer.right,
#dockContainer.shrink.right {
  margin: 0;
  padding: 0;
}

#dockContainer.right #dash,
#dockContainer.shrink.right #dash {
  margin: 4px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

#dockContainer.right #dash .dash-background,
#dockContainer.shrink.right #dash .dash-background {
  margin: 0;
  margin-right: 4px;
  margin-left: 4px;
  padding: 0;
  border-radius: 16px;
}

#dockContainer.running-dots .app-well-app.focused .overview-icon,
#dockContainer.dashtodock .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
  border-radius: 17px;
}

#dockContainer.running-dots .app-well-app:hover .overview-icon,
#dockContainer.dashtodock .app-well-app:hover .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
  border-radius: 17px;
}

#dockContainer.right #dash #dockContainer,
#dockContainer.shrink.right #dash #dockContainer {
  margin: 50%;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  spacing: 0;
}

#dockContainer.right #dash .dash-item-container,
#dockContainer.shrink.right #dash .dash-item-container {
  margin: 0;
  margin-left: 4px;
}

#dockContainer.right #dash .dash-item-container .app-well-app,
#dockContainer.right #dash .dash-item-container .show-apps,
#dockContainer.shrink.right #dash .dash-item-container .app-well-app,
#dockContainer.shrink.right #dash .dash-item-container .show-apps {
  margin: 0;
  padding: 0;
  padding-right: 4px;
  padding-left: 0px;
}
